header {
	background: #0A1589;
	height: 60px;
	display: flex;
	justify-content: space-between;
}

body {
	margin: 0px;
	padding: 0px;
}

nav {
	display: flex;
	gap: 155px;
}

nav>li {
	display: flex;
	align-items: center;
	gap: 9px;
}

.svg {
	fill: white;
}

#svg-social {
	height: 51px;
	width: 51px;
}

#svg-help {
	width: 50px;
	height: 53.333px;
}

#svg-partnership {
	width: 70px;
	height: 42.015px;
}

#svg-social {
	height: 51px;
	width: 51px;
}

#svg-shop {
	height: 50px;
	width: 50px;
}

p {
	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 150%;
	letter-spacing: -0.2px;
}

header>nav>li>p {
	color: white;
}

#connection {
	display: inline-flex;
	align-items: center;
	padding: 15px 25px;
	background: #0A438A;
}

#connection>p {
	color: white;
}

#content {
	display: flex;
	justify-content: space-between;
	gap: 50px;
}

#us,
#whatIsOeil {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#us>p,
#whatIsOeil>p {
	text-align: center;
}

/*#background {
	z-index: 0;
	display: inline;
}*/