
.nav {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-weight: 500;
	color: #ffffff;
	padding: 15px;
}

body {
	margin: 0;
	padding: 0;
}

html {
	background-image: url("img/background.png");
	background-size: cover;
	margin: 0;
	padding: 0;
}

.nav li {
	display: inline-block;
	list-style: outside none none;
	margin: 0 1.5em;
	overflow: hidden;
}

ul {
	background-color: #0A1589;
	margin: 0;
}

.svgNavBar {
	filter: invert(100%) sepia(8%) saturate(33%) hue-rotate(297deg) brightness(106%) contrast(107%);
}


#triangle-bottomleft {
	width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-right: 100px solid transparent;
  }