#title {
	padding-left: 10%;
}

#partners {
	padding-left: 15%;
	padding-right: 5%;
	margin-bottom: 150px;
}

.image {
	width: 360px;
	height: 230px;
	border: 5px solid#0A1589;
	border-radius: 5px;
	margin-right: 100px;
	margin-top: 40px
}